{
  "auth": {
    "id": "デバイスのID、登録後自動生成されます",
    "password": "デバイスのパスワード"
  },
  "rooms": "個室の数",
  "thresholds": [
    {"open": "空き状況のときに送信する値", "close": "利用中のときに送信する値"},
    {"open": "空き状況のときに送信する値", "close": "利用中のときに送信する値"},
    // 個室の数ぶん定義する
  ],
  "occupancy_rate": "個室の空室率 1(割)から10(割) の範囲で指定する"
}
